/* Navigation */
.navbar-brand {
    padding-left: 30px;
}

/* Main */
.main {
    min-height: calc(100dvh - 2 * 56px);
    max-width: 1600px;
}

/* Table */
td {
    height: 200px;
    vertical-align: middle;
}

.btn-primary {
    margin-top: 20px;
}