/* Body */
body {
    font-family: 'Nunito', sans-serif;
}

/* Navigation */
.navbar-brand {
    padding-left: 30px;
}

/* Main */
.main {
    min-height: calc(100dvh - 2 * 56px);
    max-width: 1600px;
}

/* Table */
td {
    height: 200px;
    vertical-align: middle;
}

/* Button spacing */
.btn-primary {
    margin-top: 20px;
}

/* Menu */
#logo {
    height: 40px;
    width: 40px;
}

.navbar-toggler {
    margin-right: 20px;
}

.navbar-collapse {
    padding-left: 10px;
    padding-right: 10px;
}